* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  background-color: #00c7ce;
}
.flex > div {
  width: 33%;
  height: 300px;
  margin: 10px;
  background-color: #fff;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 20%;
  padding: 20px;
  color: #fff;
  background-color: #00c7ce;
}