* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: lightcoral;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}
.header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: rgb(255, 227, 231);
}
.header > :first-child {
  margin-right: auto;
}
.main {
  display: flex;
  justify-content: center;
}
.sidebar {
  width: 300px;
  background-color: rgb(204, 250, 204);
}
.content {
  max-width: 700px;
  background-color: rgb(169, 255, 82);
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.content > div {
  background-color: lemonchiffon;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
footer > div {
  background-color: rgb(95, 189, 247);
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
}