* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  background-image: url(img2/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.heading-text {
  padding: 20px 0 0 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}
.box1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}
.box {
  border-bottom: 1px solid lightgray;
  padding: 30px 0;
}
.link-text {
  color: gray;
}

@media screen and (max-width: 768px) {

  header {
    width: 100%;
    background-size: 900px;
  }
  .heading-text {
    padding: 50% 20%;
  }
  main {
    width: 100%;
  }
  p {
    margin: 0 3%;
  }
  a {
    margin-left: 3%;
  }
  .box:last-child {
    border: none;
  }

}