* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  background-image: url(img2/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.heading-text {
  padding: 20px 0 0 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}
.box1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}
.box {
  border-bottom: 1px solid lightgray;
  padding: 30px 0;
}
.link-text {
  color: gray;
}